.tile {
	/*border: solid 1px;*/
	float: left;
	width: 35px;
	height: 35px;
}

.west-wall {
  border-left:solid 1px;
}

.east-wall {
  border-right:solid 1px;
}

.north-wall {
  border-top: solid 1px;
}

.south-wall {
  border-bottom: solid 1px;
}

.aisle {
  /*background-color: #EBDDC0;*/
}

.stairs {
  /*background: url("http://hlsl7.law.harvard.edu/dev/annie/game/static/images/stairs.png") no-repeat #efefef;*/
}

.stairs-up {
  background: url("http://hlsl7.law.harvard.edu/dev/annie/game/static/images/stairs-up.png") no-repeat #efefef;
}

.stairs-down {
  background: url("http://hlsl7.law.harvard.edu/dev/annie/game/static/images/stairs-down.png") no-repeat #efefef;
}


.tile-row {
	clear:left;
}

.selected-tile {
	background-color: green;
}

.shelf {
  background: url("http://hlsl7.law.harvard.edu/dev/annie/game/static/images/shelved-books.png") repeat-x #894200;
  background-position: 0 1px;
}

.shelf-east {
  background: url("http://hlsl7.law.harvard.edu/dev/annie/game/static/images/shelved-books-east.png") repeat-y #894200;
  background-position: 5px 1px;
}

.endcap {
  /*background-color:pink;*/
}

#callno_sign, #endcap_sign {
  height:35px;
  width:48px;
  background-color:#fff;
  display:none;
  position:absolute;
  font-size:12px;
  text-align:center;
  padding-top:10px;
  border:1px solid #efefef;
}

#dashboard {
  padding:5px 45px 0 45px;
  position: absolute;
  top: 15px;
  left:300px;
  width:515px;
  height:330px;
}

.current-target {
  margin-left: 50px;
  margin-top:5px;
  float:left;
}

.title {
  width:265px;
}

.current-target-callno {
  font-size:24px;
}

.left {
  float:left;
}

.clear {
  clear:both;
}

.p1-text {
    color: #34647F;
}

.p2-text {
    color: #BED333;
}


.p1, .p1progress {
    background-color: #34647F;
}

.p2, .p2progress {
    background-color: #BED333;
}

.p1.p2 {
    background-color: #F00;
}

#progress, #opponent-progress {
  background-image: url("http://hlsl7.law.harvard.edu/dev/annie/game/static/images/book-cart-large.png");
  background-repeat:no-repeat;
  display:block;
  height:100px;
  width:100px;
  overflow:hidden;
}

.legend {
  padding:3px;
  height:200px;
  width:245px;
  position:relative;
  float:left;
  margin-right:25px;
  background: url("http://hlsl7.law.harvard.edu/dev/annie/game/static/images/legend.png") no-repeat;
  background-position: 1px 50px;
}

.legend.current-legend {
  border:3px solid #00FFFF;
}

.legend h1 {
  float:left;
  margin-bottom:10px;
  margin-top:5px;
}

h1.legend-west {
  margin-left:10px;
  margin-right:85px;
}

h1.legend-east {
  margin-left:25px;
}

.legend p {
  font-size:24px;
  float:left;
}

p.legend-west {
  margin-left:15px;
  margin-top:10px;
}

p.legend-east {
  margin-left:145px;
  margin-top:10px;
}

#wrapper {
    width:100%;
}

.light {
    	zoom: 1;
    	filter: alpha(opacity=10);
    	opacity: 0.1;
}

/* Hovering control box -- start*/

#hover {
    padding: 0 30px 0 30px;
    width: 800px;
    height:550px;
    border: 1px solid #336699;
    border-radius: 4px;
    text-align: left;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left:-400px;
    margin-top:-275px;
    background-color: #FAFAFA;
    z-index: 10;
    font-family: arial,helvetica,clean,sans-serif;
    font-size:.9em;
}

h1 {
    color: #FF6600;
    font-size: 4.8em;
    line-height: 0;
    padding: 15px 0 30px 0;
}

.left {
    float: left;
}

.right {
    max-width:375px;
    float: right;
}

#hover h2{
    line-height: 0;
    font-size: 1.7em;
}

ul {
    padding: 0 0 0 25px;
}

ul li {
    padding: 4px;
}

ul li:first-child {
    padding-top: 11px;
}

#message-panel{
    clear: both;
    padding: 50px 0 0 150px;;
}

.status-update {
    font-size:2.3em;
}

/* form stuff -- start */
#player-handle {
    height:2.2em;
    line-height:2.2em;
    font-size:1.4em;
    width: 350px;
}

.button {
    background-color: #3399FF;
    display: inline-block;
    color: white !important;
    font-weight: bold;
    line-height: 1.6em;
    text-decoration: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 0 1px 3px #3399FF;
    -webkit-box-shadow: 0 1px 3px #3399FF;
    text-shadow: 0 -1px 1px #3399FF;
    border-bottom: 1px solid #3399FF;
    position: relative;
    cursor: pointer;
    overflow: visible;
    width: auto;
    font-size: 1.5em;
    padding: 8px 19px 9px;
}
/* form stuff -- end */

/* Hovering control box -- end*/