.tile {
	/*border: solid 1px;*/
	float: left;
	width: 35px;
	height: 35px;
}

.west-wall {
  border-left:solid 1px;
}

.east-wall {
  border-right:solid 1px;
}

.north-wall {
  border-top: solid 1px;
}

.south-wall {
  border-bottom: solid 1px;
}

.aisle {
  /*background-color: #EBDDC0;*/
}

.stairs {
  /*background: url("http://hlsl7.law.harvard.edu/dev/annie/game/static/images/stairs.png") no-repeat #efefef;*/
}

.stairs-up {
  background: url("http://hlsl7.law.harvard.edu/dev/annie/game/static/images/stairs-up.png") no-repeat #efefef;
}

.stairs-down {
  background: url("http://hlsl7.law.harvard.edu/dev/annie/game/static/images/stairs-down.png") no-repeat #efefef;
}


.tile-row {
	clear:left;
}

.selected-tile {
	background-color: green;
}

.shelf {
  background: url("http://hlsl7.law.harvard.edu/dev/annie/game/static/images/shelved-books.png") repeat-x #894200;
  background-position: 0 1px;
}

.shelf-east {
  background: url("http://hlsl7.law.harvard.edu/dev/annie/game/static/images/shelved-books-east.png") repeat-y #894200;
  background-position: 5px 1px;
}

.endcap {
  /*background-color:pink;*/
}

#callno_sign, #endcap_sign {
  height:35px;
  width:48px;
  background-color:#fff;
  display:none;
  position:absolute;
  font-size:12px;
  text-align:center;
  padding-top:10px;
  border:1px solid #efefef;
}

#dashboard {
  padding:20px 45px 0 45px;
  position: absolute;
  top: 35px;
  left:295px;
  width:515px;
  height:330px;
}

.current-target {
  margin-left: 50px;
  margin-top:5px;
  float:left;
}

.left {
  float:left;
}

.clear {
  clear:both;
}

.p1 {
    background-color: #34647F;
}

.p2 {
    background-color: #BED333;
}

.p1.p2 {
    background-color: #F00;
}

.legend {
  padding:3px;
  height:200px;
  width:245px;
  position:relative;
  float:left;
  margin-right:25px;
  background: url("http://hlsl7.law.harvard.edu/dev/annie/game/static/images/legend.png") no-repeat;
  background-position: 1px 50px;
}

.legend.current-legend {
  border:3px solid #00FFFF;
}

.legend h1 {
  float:left;
  margin-bottom:10px;
}

h1.legend-west {
  margin-left:10px;
  margin-right:85px;
}

h1.legend-east {
  margin-left:25px;
}

.legend p {
  font-size:24px;
  float:left;
}

p.legend-west {
  margin-left:15px;
  margin-top:10px;
}

p.legend-east {
  margin-left:145px;
  margin-top:10px;
}