.tile {
	border: solid 1px;
	float: left;
	width: 40px;
	height: 40px;
}

.tile-row {
	clear:left;
}

.selected-tile {
	background-color: green;
}

.player-one {
    background-color: #34647F;
}

.player-two{
    background-color: #BED333;
}