body {
  font-family: 'Strait', arial, serif;
  color: #35235D;
}

#main {
    width: 1150px;
    margin:20px auto 0px;
    position:relative;
}

#container {
  float:left;
}

#no-entry {
  position:absolute;
  top:395px;
  left:410px;
}

.tile {
	/*border: solid 1px;*/
	float: left;
	width: 30px;
	height: 30px;
	overflow:hidden;
	background-color:#f1f1f9;
}

.west-wall {
  border-left:solid 1px #0b0713;
}

.east-wall {
  border-right:solid 1px #0b0713;
}

.north-wall {
  border-top: solid 1px #0b0713;
}

.south-wall {
  border-bottom: solid 1px #0b0713;
}

.tunnel {
  width: 32px;
}

.blocked {
  background-color: #fff;
}

.west-bridge-wall {
  border-left: solid 1px;
}

.east-bridge-wall {
  border-right: solid 1px;
}

.north-bridge-wall {
  border-top: solid 1px;
}

.south-bridge-wall {
  border-bottom: solid 1px;
}

.stairs {
  /*background: url("../images/stairs.png") no-repeat #efefef;*/
}

.stairs-up {
  background: url("../images/stairs-up.png") no-repeat #efefef;
}

.stairs-down {
  background: url("../images/stairs-down.png") no-repeat #efefef;
}


.tile-row {
	clear:left;
}

.selected-tile {
	background-color: green;
}

.shelf {
  background: url("../images/shelved-books.png") repeat-x #CB2402;
  background-position: 0 1px;
}

.shelf-east {
  background: url("../images/shelved-books-east.png") repeat-y #CB2402;
  background-position: 1px 1px;
}

.shelf-west {
  background: url("../images/shelved-books-west.png") repeat-y #CB2402;
  background-position: 2px 1px;
}

.endcap {
  /*background-color:pink;*/
}

#callno_sign, #endcap_sign {
  background-color:#fff;
  display:none;
  position:absolute;
  font-size:16px;
  text-align:center;
  padding-top:10px;
  border:1px solid #efefef;
}

#endcap_sign {
  height:55px;
  width:50px;
}

#callno_sign {
  height:35px;
  width:50px;
}

#dashboard {
  padding:5px 5px 0 20px;
  position: absolute;
  top: 0px;
  left:272px;
  width:305px;
  height:290px;
  background-color:#fff;
}

.current-target {
  margin-left: 20px;
  margin-top:5px;
  float:left;
  background-color:#F1F1F9;
  padding:10px;
  border:2px solid #4C49A2;
  height:235px;
}

.cover-label {
  border: 1px solid #4C49A2;
  background-color: #fff;
  padding:4px 4px 4px 8px;
}

.title {
  width:130px;
  height:53px;
  overflow:hidden;
}

.creator {
  width:146px;
  height:35px;
  overflow:hidden;
  margin-bottom:0px;
  font-size: .9em;
}

.current-target-callno {
  font-size:24px;
  background-color:#fff;
  margin-left:-13px;
  padding:8px;
  width:95px;
  border:1px solid #4C49A2;
  margin-top:30px;
}

.left {
  float:left;
}

.clear {
  clear:both;
}

.p1-text {
    color: #4C49A2;
    height:21px;
    width: 110px;
    overflow:hidden;
  margin-top:0px;
  margin-bottom:10px;
}

.p2-text {
  color: #CB2402;
  height:21px;
  width: 110px;
  overflow:hidden;
  margin-top:0px;
  margin-bottom:10px;
}

.p1 {
    /*background-color: #4C49A2;*/
}

.p2 {
    /*background-color: #CB2402;*/
}

.p1.p2 {
    background-color: #F00;
}

.p1.tile {
  background-image: url("../images/book-cart-small-p1.png");
  background-repeat:no-repeat;
}

.p2.tile {
  background-image: url("../images/book-cart-small-p2.png");
  background-repeat:no-repeat;
}

#progress, #opponent-progress {
  background-repeat:no-repeat;
  display:block;
  height:100px;
  width:100px;
  overflow:hidden;
}

#opponent_name {
  margin-top:25px;
}

.p1progress {
  background-image: url("../images/book-cart-large-p1.png");
}

.p2progress {
  background-image: url("../images/book-cart-large-p2.png");
}

#legend-container {
  float:left;
  width:30px;
  margin-left:-15px;
}

.legend {
  padding:3px;
  width:165px;
  position:relative;
  float:left;
  margin-right:25px;
  background: url("../images/legend.png") no-repeat;
  background-position: 1px 30px;
  height:132px;
  margin-top:-3px;
  margin-bottom:2px;
}

.legend.current-legend {
  border:3px solid #B8DC3C;
  background-position:5px 35px;
  margin-left: -6px;
}

.legend-no-tunnel {
  background: url("../images/legend-no-tunnel.png") no-repeat;
  background-position: 1px 35px;
}

.legend h1 {
  float:left;
  margin-bottom:0px;
  margin-top:0px;
  font-size:1.2em;
  padding:15px 0 25px 0;
}

.legend h2 {
  float:left;
  font-size
}

h2.legend-west {
  margin-left:10px;
  margin-right:85px;
}

h2.legend-east {
  margin-left:25px;
}

.legend p {
  font-size:1.3em;
}

p.legend-west {
  margin-left:5px;
  margin-top:0px;
  float:left;
  clear:left;
}

p.legend-east {
  margin-right:20px;
  margin-top:0px;
  float:right;
}

.legend.current-legend p.legend-west {
  margin-left:8px;
}

.legend.current-legend p.legend-east {
  margin-right:14px;
}

#wrapper {
    width:100%;
}

.light {
    	zoom: 1;
    	filter: alpha(opacity=10);
    	opacity: 0.1;
}

/* Hovering control box -- start*/

#hover {
    padding: 0 30px 0 30px;
    width: 800px;
    height:550px;
    border: 1px solid #4C49A2;
    border-radius: 4px;
    text-align: left;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left:-400px;
    margin-top:-275px;
    background-color: #FAFAFA;
    z-index: 10;
    font-size:1.2em;
}

h1 {
    color: #DB2464;
    font-size: 4.4em;
    line-height: 0;
    padding: 15px 0 30px 0;
    text-align
}

.winner h1 {
  text-align:center;
  margin-top:75px;
}

.winner .status-update {
  text-align:center;
  margin-top:55px;
  size:1.2em;
}

.winner p {
  text-align:center;
  font-size:1.5em;
}

.left {
    float: left;
}

.right {
    max-width:375px;
    float: right;
}

#hover h2{
    line-height: 0;
    font-size: 1.7em;
    color:#4C49A2;
}

ul {
    padding: 0 0 0 25px;
}

ul li {
    padding: 4px;
    font-size:1.0em;
}

ul li:first-child {
    padding-top: 11px;
}

#message-panel{
    clear: both;
    padding: 30px 0 0 40px;;
}

.status-update {
    font-size:2.3em;
}

#num-players {
   width: 200px;
   padding: 5px;
   font-size: 1.4em;
   height:2.2em;
   border: 1px solid #ccc;
}

/* form stuff -- start */
#player-handle {
    height:2.2em;
    line-height:2.2em;
    font-size:1.4em;
    width: 375px;
}

.button {
    background-color: #DB2464;
    display: inline-block;
    color: white !important;
    font-weight: bold;
    line-height: 1.6em;
    text-decoration: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 0 1px 3px #444;
    -webkit-box-shadow: 0 1px 3px #444;
    text-shadow: 0 -1px 1px #444;
    border-bottom: 1px solid #444;
    position: relative;
    cursor: pointer;
    overflow: visible;
    width: auto;
    font-size: 1.5em;
    padding: 8px 19px 9px;
}
/* form stuff -- end */

/* Hovering control box -- end*/
